.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
android/.gradle/
android/.kotlin/
android/local.properties
android/key.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
*.iml
*.jks
*.keystore
GoogleService-Info.plist
google-services.json
