.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
tracking-server/node_modules/
tracking-server/.env
tracking-server/*service*account*.json
tracking-server/service-account*.json
android/.gradle/
android/.kotlin/
android/local.properties
android/key.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
*.iml
*.jks
*.keystore
GoogleService-Info.plist
google-services.json
